@import "tailwindcss";

@theme {
  --color-primary: #3b82f6;
  --color-primary-hover: #2563eb;
  --color-dark-bg: #0f172a;
  --color-card-bg: #1e293b;
}

body {
  @apply bg-slate-950 text-slate-100 antialiased;
}